# .gitignore (project root)

# ---------------------------
# Frontend
# ---------------------------
/frontend/node_modules/
/frontend/dist/
/frontend/dist-ssr/
/frontend/*.local
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*
/frontend/src/
/frontend/public/
/frontend/eslint.config.js
/frontend/index.html
/frontend/package-lock.json
/frontend/package.json
/frontend/README.md
/frontend/vite.config.js
/frontend/web/code-snippets.txt


# ---------------------------
# Backend
# ---------------------------
/backend/node_modules/
/backend/.env
/backend/debug-env.js
/backend/src/config/check-env-file.js
/backend/src/config/comprehensive-test.js

# ---------------------------
# Shared
# ---------------------------
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vscode/
